<hr>
<div class="row">
    <div class="row">
        <div class="col-md-9">
            <h2 style="padding-bottom: 10px">Related Product</h2>
        </div>
        <div class="col-md-3">
            <!-- Controls -->
            <div class="controls pull-right hidden-xs" style="padding-top: 20px">
                <a class="left fa fa-chevron-left btn btn-success" href="#related-products"
                   data-slide="prev"></a>
                <a class="right fa fa-chevron-right btn btn-success" href="#related-products"
                   data-slide="next"></a>
            </div>
        </div>
    </div>
    <div id="related-products" class="carousel slide hidden-xs" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            {{#if products}}
                {{#each products}}
                    <div class="item {{#unless @index}}active{{/unless}}">
                        <div class="row">
                            {{#each this}}
                                <div class="col-sm-6 col-md-3">
                                    <a href="/products/{{this.slug}}">
                                        <div class="thumbnail" >
                                            <img class="img-responsive" src="{{this.images.[0]}}" alt="{{this.name}}">
                                            <div class="caption">
                                                <div class="text-center">
                                                    <p>{{this.name}}</p>

                                                    {{#equal this.pricing.retail this.pricing.sale}}
                                                        <strong><p id="retail">${{this.pricing.retail}}</p></strong>
                                                    {{else}}
                                                        <p>
                                                            <strong>
                                                                <span class="retail-price">${{this.pricing.retail}}</span> - <span class="sale-price">${{this.pricing.sale}}</span>
                                                            </strong>
                                                        </p>
                                                    {{/equal}}

                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                {{/each}}
            {{/if}}
        </div>
    </div>
</div>

