<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card card-raised card-carousel">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <div class="carousel slide" data-ride="carousel">

                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            {{#each product.images}}
                                <li data-target="#carousel-example-generic" data-slide-to="{{@index}}" class="{{#unless @index}}active{{/unless}}"></li>
                            {{/each}}
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            {{#each product.images}}
                                <div class="item {{#unless @index}}active{{/unless}}">
                                    <img src="{{this}}" alt="{{@index}}">
                                </div>
                            {{/each}}
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <i class="material-icons">keyboard_arrow_left</i>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <i class="material-icons">keyboard_arrow_right</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <h1>{{product.name}}</h1>
            <p class="help-block">{{product.date}}</p>
            {{#equal product.pricing.retail product.pricing.sale}}
                <strong><p id="retail">${{product.pricing.retail}}</p></strong>
            {{else}}
                <p>
                    <strong>
                        <span class="retail-price">${{product.pricing.retail}}</span> - <span class="sale-price">${{product.pricing.sale}} Sales Off!</span>
                    </strong>
                </p>
            {{/equal}}
            <hr>
            <p><strong>SKU:</strong> {{product.sku}}</p>
            <p><strong>Description:</strong></p>
            <p>{{{product.description}}}</p>
            <form>
                {{#if product.details.sizes}}
                    <div class="form-group">
                        <label for="sizes">Sizes</label>
                        <select name="sizes" id="sizes" class="form-control">
                            {{#each product.details.sizes}}
                                <option value="{{this}}">{{this}}</option>
                            {{/each}}
                        </select>
                    </div>
                {{/if}}

                {{#if product.details.colors}}
                    <div class="form-group">
                        <label for="colors">Colors</label>
                        <select name="colors" id="colors" class="form-control">
                            {{#each product.details.colors}}
                                <option value="{{this}}">{{this}}</option>
                            {{/each}}
                        </select>
                    </div>
                {{/if}}

                <button type="submit" class="btn btn-danger btn-round"><i class="fa fa-shopping-cart" aria-hidden="true"></i> &nbsp; ADD TO CART</button>

                {{#if product.categories}}
                    <div class="form-group">
                        Categories:
                        {{#each product.categories}}
                            <strong><span class="label label-success">{{this}}</span></strong>
                        {{/each}}
                    </div>
                {{/if}}

                {{#if product.tags}}
                    <div class="form-group">
                        <span class="glyphicon glyphicon-tags" aria-hidden="true"></span> :
                        {{#each product.tags}}
                            <strong><span class="label label-primary">#{{this}}</span></strong>
                        {{/each}}
                    </div>
                {{/if}}
            </form>
        </div>
    </div>
</div>