<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <form action="/categories/{{category.slug}}/edit" method="post" enctype="multipart/form-data">
            <h1>Edit Category</h1>
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" name="name" id="name" value="{{category.name}}">
            </div>

            <div class="form-group">
                <label for="file">Image</label>
                <input type="file" class="form-control" name="category-image" id="file" value="{{category.image}}">
            </div>

            <div class="form-group">
                <label for="parent-category">Parent Category:</label>
                <select name="parent" id="parent-category" class="form-control">
                    <option></option>
                    {{#each categories}}
                        <option>{{this.name}}</option>
                    {{/each}}
                </select>
            </div>

            <div class="form-group">
                <label for="ancestors">Ancestors:</label>
                <select name="ancestors" id="ancestors" class="form-control" multiple>
                    <option></option>
                    {{#each categories}}
                        <option>{{this.name}}</option>
                    {{/each}}
                </select>
            </div>

            <p class="help-block">Hold down the Ctrl (windows) / Command (Mac) button to select multiple options.</p>

            <div class="text-center">
                <input type="submit" class="btn btn-primary btn-round">
            </div>
        </form>
    </div>
</div>